{% extends 'its/base.html' %}
{% load bootstrap3 %}
{% block head %}
		<style type="text/css" media="screen">
			#editor { 
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

			}
		</style>
{% endblock %}

{% block content %}
		
		{% include 'its/menu.html' %}

		<div class="container-fluid"> 
		<div class="row">
		<div class="col-md-4">
			<form method="post">
				{% csrf_token %}
				
				{% bootstrap_form form %}
				
				{% buttons %}
				<button type="submit" class="btn btn-primary">
					Submit
				</button>
				{% endbuttons %}
			</form>
		</div>
		</div>
		</div>
{% endblock %}