{% extends 'its/base.html' %}
{% load bootstrap3 %}
{% block head %}
		<style type="text/css" media="screen">
			#editor { 
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

			}
		</style>
{% endblock %}

{% block content %}
		
		{% include 'its/menu.html' %}

		<div class="container-fluid"> 
		<div class="row">
		<div class="col-md-4">

		<a role="button" class="btn btn-primary" href="/accounts/signup/student">학생으로 가입</a>
		<a role="button" class="btn btn-primary" href="/accounts/signup/teacher">선생님으로 가입</a>

		</div>
		</div>
		</div>
{% endblock %}