

<!-- Required Stylesheets -->
<link href="/static/bootstrap/dist/bootstrap.css" rel="stylesheet">

<!-- Required Javascript -->
<script src="/static/jquery/src/jquery.js"></script>
<script src="/static/bootstrap-treeview/src/js/bootstrap-treeview.js"></script>
{% load mptt_tags %}

<div id="treeview"></div>

	
  <script>
	$(function() {
		var data=[
		{% recursetree index %}
			{
					text:'{{node.title}}',
					id:'{{node.id}}',
					{% if node.type != "folder" %}
					href:'/problem/{{node.id}}',
					{% else %}
					href:'#',
					{% endif %}
					
					tags:['100'],
					selectedIcon: "glyphicon glyphicon-stop",
					selectable: true,
					{%if node.is_leaf_node %}
					color: "#666FFF",
					
					{%if node.correct %}
					icon: "glyphicon glyphicon-ok",
					color: "#FF0000"
					{% else %}
					icon: "glyphicon glyphicon-stop",
					{% endif %}
					
					{% endif %}
					{% if not node.is_leaf_node %}
						nodes:[
							{{children}}
						]
					{% endif %}
					
			},
		{% endrecursetree %}
		];
	  
	  $('#treeview').treeview({
		collapseIcon: "fa fa-angle-down",
		data: data,
		levels: 3,
		nodeIcon: "fa fa-folder",
		showBorder: false,
		enableLinks: true
	  });
	  
	});
  </script>

