<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/problem">ITS</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="{% if '/problem' in request.path %}active{% endif %}"><a href="/problem">문제풀기</a></li>
				<li class="{% if '/board' in request.path %}active{% endif %}"><a href="/board">질문하기</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			{% if request.user.is_staff %}
			<li class=""><a href="/admin" target="_blank"><span class="glyphicon glyphicon-user">관리자페이지</span></a></li>
			{% endif %}
			{% if request.user.is_authenticated %}
			<li class=""><a href="/accounts/logout?next=/problem"><span class="glyphicon glyphicon-log-out">로그아웃</span></a></li>
			{% else %}
			<li class="{% if '/accounts/login/' in request.path %}active{% endif %}"><a href="/accounts/login"><span class="glyphicon glyphicon-log-in">로그인</span></a></li>
			{% endif %}

			</ul>
		</div>
	</div>
</nav>
