{% extends 'its/base.html' %}
{% block head %}
		<link href="/static/ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css" rel="stylesheet">
		<script src="/static/ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
		<style type="text/css" media="screen">
			#editor { 
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

			}
		</style>

{% endblock %}

{% block content %}

		{% include 'its/menu.html' %}

		<div class="container-fluid"> 
		   <div class="row">
				<div class="col-md-3">
					{% include 'its/index.html' %}
				</div>
				<div class="col-md-9">
					<div class="row">
					<div class="container-fluid">

						{{content.body|safe}}
						{% if error %}
						<pre class="alert alert-danger">{{ error }}</pre>
						{% elif out %}
						<pre class="alert alert-success">{{ out }}</pre>
						{% endif %}
						
						{% if content.type != 'practice' %}
						<div class="col-md-12" style="height:500px;">
						{% include 'its/editor.html' %}
						</div>
						{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<script>
								function run(){
								var editor = ace.edit("editor");
								var value=editor.getValue();
								$("#code").val(value);
								return true;
								}
							</script>
							<form class="form-inline" onsubmit="run()" method="post">
								{% csrf_token %}
								{% if content.type != 'practice' %}
								<input type="hidden" name="code" id="code" value="ffffffffff">
									{% if solved.correct != True %}
									<button type="submit" class="btn btn-success">제출하기</button>
									{% endif %}
								{% else %}
									{% if solved.correct != True %}
									<button type="submit" class="btn btn-success">학습완료</button>
									{% endif %}
								{% endif %}
								
								{% if content.hint %}
								<button type="button" class="btn btn-danger"  data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">힌트보기</button>
								

								
								{% endif %}
								

								<div class="collapse" id="collapseExample">
									<br/>
									<div class="well">
										{{content.hint}}
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
{% endblock %}