{% extends 'its/base.html' %}
{% block head %}
		<style type="text/css" media="screen">
			#editor { 
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

			}
		</style>
{% endblock %}

{% block content %}
		
		{% include 'its/menu.html' %}

		<div class="container-fluid"> 
		   <div class="row">
				<div class="col-md-12">

				  <!-- Table -->
					<div class="jumbotron">
						<div align="left">
						<h3>제목 : {{ post.title }}</h3>
						<h5>글쓴이 : {{ post.user.username }}</h5>
						</div>
						<div align="right">
						<h6>	{{ post.time }}</h6>
						</div>
						<hr/>
						
						<h4>{{ post.body | safe }}</h4>
						
						{% if request.user.username == post.user.username or request.user.itsuser.type == 'T' %}
						<div align="right">
						<a role="button" class="btn btn-primary" href="/board/modify/{{post.id}}">수정</a>
						<a role="button" class="btn btn-danger" href="/board/delete/{{post.id}}">삭제</a>
						</div>
						{% endif %}
					</div>

					
					{% for reply in replies %}
					
					<div class="jumbotron" style="height=100px">
						<div align="left">
						<h3>제목 : {{ reply.title }}</h3>
						<h5>글쓴이 : {{ reply.user.username }}</h5>
						</div>
						<div align="right">
						<h6>{{ reply.time }}</h6>
						</div>
						
						<hr/>
						<h5>{{ reply.body | safe }}</h5>

					
					{% if request.user.username == reply.user.username or request.user.itsuser.type == 'T' %}
					<div align="right">
					<a role="button" class="btn btn-primary" href="/board/modify/{{reply.id}}">수정</a>
					<a role="button" class="btn btn-danger" href="/board/delete/{{reply.id}}">삭제</a>
					</div>
					{% endif %}
					</div>
					{% endfor %}
					
					<a role="button" class="btn btn-success" href="/board/write/{{post.id}}">답글달기</a>
				</div>
			</div>
		</div>
{% endblock %}