{% extends 'its/base.html' %}
{% block head %}
		<style type="text/css" media="screen">
			#editor { 
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

			}
		</style>
{% endblock %}

{% block content %}
		
		{% include 'its/menu.html' %}
		
		<div class="container-fluid"> 
		   <div class="row">
				<div class="col-md-12">
				
				  <!-- Table -->
					<table class="table table-striped">
						<tr><th>제목</th><th>글쓴이</th><th>글쓴 날짜</th></tr>
						{% for post in posts %}
						<tr><td><a href="/board/detail/{{post.id}}">{{ post.title }}</a></td><td>{{ post.user.username }}</td><td>{{ post.time }}</td></tr>
						{% endfor %}
					</table>

					<a role="button" class="btn btn-success" href="/board/write">새글쓰기</a>
					
					<nav>
						<ul class="pagination">
							<li>
								<a href="{% if posts.has_previous %}?page={{ posts.previous_page_number  }}{% else %}#{% endif %}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li><a>{{posts.number}}</a></li>
							<li>
								<a href="{% if posts.has_next %}?page={{ posts.net_page_number }}{% else %}#{% endif %}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
					
				</div>
			</div>
		</div>
{% endblock %}