{% extends 'its/base.html' %}
{% block head %}
{% endblock %}

{% block content %}
		
		{% include 'its/menu.html' %}

		<div class="container-fluid"> 
		   <div class="row">
				<div class="col-md-12">
					
					<form method="post">
						{% csrf_token %}

						<div align="left" style="width:800px;">
						<label>Title</label>
						<p><input class="form-control" name='title' type="text" ></p>
						</div>
						
						<label>Body</label>
						<p>{{form.body}}</p>
						{{form.media}}
						
						
						<button type="submit" class="btn btn-success">저장</button>
						<a role="button" class="btn btn-danger" href="/board/write">취소</a>
					</form>

				</div>
			</div>
		</div>
{% endblock %}